{% extends 'layout.twig' %}

{% block title %}Dashboard{% endblock %}

{% block home_class %}class="active"{% endblock %}

{% block header %}
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1 id="navbar">Dashboard</h1>
    </div>

    {% if characters|length > 0 %}
        <div class="container alert alert-{{ update.class }}">
            {% if update.message == 'ok' %}
                <div style="display: inline-block; margin-top: 7px;">
                    No update since{{ update.last }}let's do a new one ?
                </div>
                <a href="/character/update" class="btn btn-success pull-right">Sure, update !</a>
            {% else %}
                Already a request made in the last 10min, please wait until that's elapsed ;)
            {% endif %}
        </div>
    {% else %}
        <div class="container alert alert-warning">
            No characters to update.
        </div>
    {% endif %}

    {% for character in characters %}
        <div class="well container">
            <div class="row">
                <div class="col-md-3">
                    {{ character.informations.name }}
                </div>

                <!--

                0%-70%    green   #149414
                71%-90%     orange  #E67E30
                91%-100%    red     #C60800
                none        purple  #6C0277

                -->

                {% for planet in character.planets %}
                    <div class="col-md-1">
                        <center>
                            <i class="fa fa-globe" style="font-size: 38px;
                            {% if planet.elapsed >= 0 and planet.elapsed <= 70 %}
                                color: #149414;
                            {% elseif planet.elapsed > 70 and planet.elapsed <= 90 %}
                                color: #E67E30;
                            {% else %}
                                color: #C60800;
                            {% endif %}
                            "></i><br/>
                            {{ planet.name }}
                        </center>
                    </div>
                {% endfor %}

                {% if (character.planets|length) == 5 %}
                    <div class="col-md-1"></div>
                {% endif %}

                <div class="col-md-3 text-right">
                    API: {{ apikeys[character.apikey] }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}